<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="course" class="Saturday_test.question3.Course">
        <constructor-arg value="201"/>
        <constructor-arg value="Data Structures"/>
    </bean>

    <bean id="faculty" class="Saturday_test.question3.Faculty">
        <constructor-arg value="10"/>
        <constructor-arg value="Dr. Smith"/>
        <constructor-arg ref="course"/>
    </bean>

</beans>